<div class="page-top-offset"></div>
<div class="container-fluid">
        <div class="col-md-offset-3 col-md-6">
    <div class="seller-form-bg">
        <h3 class="title">Change Password</h3>
        <br>
        <form [formGroup]="updateUserDetailsForm" (ngSubmit)="updateCustomerPassword()">

            <div class="form-group">
                <label class="label-text-black" *ngIf="updateUserDetailsForm.controls.password.value" for="password">New Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" id="password" />
                <!-- <div *ngIf="updateUserDetailsForm.controls.password.invalid
                                                        && updateUserDetailsForm.controls.password.touched">

                    <div *ngIf="updateUserDetailsForm.controls.password.hasError('required')">
                        <strong class="error-message">Password is Mandatory</strong>
                    </div>
                    <div *ngIf="updateUserDetailsForm.controls.password.dirty && updateUserDetailsForm.controls.password.hasError('passwordPatternError')">
                        <strong class="error-message">Password pattern is invalid</strong>
                    </div>
                </div> -->
            </div>
            <div class="form-group">
                <label class="label-text-black" *ngIf="updateUserDetailsForm.controls.newPassword.value" for="newPassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="newPassword" placeholder="Re-enter new password" id="newPassword"
                />
                <div *ngIf="updateUserDetailsForm.controls.newPassword.touched">

                    <div *ngIf="updateUserDetailsForm.controls.newPassword.hasError('required')">
                        <strong class="error-message">Re-enter new password</strong>
                    </div>
                    
                </div>
            </div>


            <br>
            <br>
            <div class="row">

                <button class="col-md-4 col-md-offset-1 btn btn-success" [disabled]="!updateUserDetailsForm.valid ">
                    Update
                </button>

                <button class="col-md-4 col-md-offset-2 btn btn-primary" type="reset" (click)="errorMessage=null" [disabled]="updateUserDetailsForm.pristine">
                    Reset
                </button>


            </div>
        </form>
        <h4 class="error-message">{{errorMessage}}</h4>
        <h4 class="success-message">{{successMessage}}</h4>
    </div>
    </div>
</div>