<div class="col-md-6 col-md-offset-3">
    <h3>Enter details to Update</h3>
    <form [formGroup]="updateUserDetailsForm" (ngSubmit)="updateSellerPassword()">
        <table class="table table-condensed">

            <tr>
                <th>Email Id:</th>
                <td>
                    <input disabled class="form-control" formControlName="emailId" />
                </td>
            </tr>
            <tr>
                <th>Enter Password:</th>
                <td>
                    <input type="password" class="form-control" formControlName="password" />
                    
                </td>
            </tr>
            <tr>
                <th>Re-Enter New Password:</th>
                <td>
                    <input type="password" class="form-control" formControlName="newPassword" />
                    <div *ngIf="updateUserDetailsForm.controls.newPassword.touched">
                        <div *ngIf="updateUserDetailsForm.controls.newPassword.invalid">
                            <strong class="error-message">Confirm password is Mandatory</strong>
                        </div>

                    </div>
                </td>
            </tr>

        </table>
        <div class="row">
            <button [disabled]="!updateUserDetailsForm.valid" class="col-md-3 col-md-offset-4 btn btn-success">
                Update
            </button>

        </div>
    </form>
    <div *ngIf="this.successMessage!=null">{{successMessage}}</div>

</div>
